body a {
    text-decoration: none;
    color: #D8D8D8;
}

body a:hover {
    color: #fff;
}

body {
    font: 24pt fantasy;
    margin: 0px auto;
    background-color: #424242;
    color: #F2F2F2;
    text-align: center;
}

h3 {
    color: #fff;
}

form {
    border-style: dotted;
    border-color: black;
    border: 1px solid;
    font-size: 12pt;
    padding: 5px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
input.submit {
    width: 300px;
}
.error {
  border: 2px solid red;
}